<div class="sample-header grid">
  <div class="grid-2"></div>
  <div class="grid-8 grid">
    <div class="grid-3"></div>
    <div class="grid-1 tree-logo">
      <img src="../../assets/tree-of-life-white.png">
    </div>
    <div class="grid-5 page-title">
      <p>
        {{ pageTitle }}
      </p>
    </div>
    <div class="grid-3"></div>
  </div>
  <div class="grid-1 center">
    <!-- <button class="btn-norm" style="top: 40%;" (click)="runTransition()" >Draw</button> -->
  </div>
  <div class="grid-1 center v-center-wrapper">
    <div class="vertical-center">
      <button class="btn-norm" style="top: 40%;" (click)="runTransition()" >Draw</button>
    </div>
  </div> 
</div>
<div class="family-tree-container">
  <!-- <button class="btn-grad float-button" style="top: 40%;" (click)="runTransition()" >Draw again</button> -->
  <div class="svg-wrapper">
    <svg></svg>
  </div>
  <div class="popup" *ngIf="popupVisible">
    <div class="popup-content">
      <div class="grid popop-header close-btn-div">
        <div class="grid-11 popup-header-text">{{ popupNode.firstName }} {{ popupNode.lastName }}</div>
        <div class="grid-1 close-btn-div">
          <div (click)="hideDetails()" class="close-btn" id="close-btn">&nbsp;&nbsp;X&nbsp;&nbsp;</div>
        </div>
      </div>
      <div class="grid popup-content-row">
        <div class="grid-5 left popup-field-lbl popup-field">Father</div>
        <div *ngIf="popupEditMode; else fatherName" class="grid-7 left">
          <select id="father" name="father" [(ngModel)]="fatherId">
            <option *ngFor="let male of males" value="{{ male.id }}">{{ male.firstName }} {{ male.lastName }}</option>
          </select>
        </div>
        <ng-template #fatherName>
          <div class="grid-7 left popup-field">: {{ popupFatherName }}</div>
        </ng-template>
      </div>
      <div class="grid popup-content-row">
        <div class="grid-5 left popup-field-lbl popup-field">Mother</div>
        <div class="grid-7 left popup-field">: {{ popupMotherName }}</div>
      </div>
      <div class="grid popup-content-row">
        <div class="grid-5 left popup-field-lbl popup-field">Spouse</div>
        <div class="grid-7 grid popup-content-row">
          <div *ngFor="let spouse of popupNode.spouse; index as spIndex" class="grid-12">
            <div class="grid-12 left popup-field">: {{ spIndex + 1 }}. {{ spouse.firstName }} {{ spouse.lastName }}</div>
          </div>
        </div>
      </div>
      <div class="grid popup-content-row">
        <div class="grid-5 left popup-field-lbl popup-field">Date of Birth</div>
        <div *ngIf="popupEditMode; else dateOfBirth" class="grid-7 left">
          <input type="date" [(ngModel)]="dateOfBirth"><!-- [(ngModel)]="dateOfBirth" -->
        </div>
        <ng-template #dateOfBirth class="grid-7 left">
          <div class="grid-7 left popup-field">: {{ popupNode.dateOfBirth }}</div>
        </ng-template>
      </div>
      <div *ngIf="popupDateOfDeathValid" class="grid popup-content-row">
        <div class="grid-5 left popup-field-lbl popup-field">Date of Death</div>
        <div *ngIf="popupEditMode; else dateOfDeath" class="grid-7 left">
          <input type="date" [(ngModel)]="dateOfDeath" >
        </div>
        <ng-template #dateOfDeath class="grid-7 left">
          <div class="grid-7 left popup-field">: {{ popupNode.dateOfDeath }}</div>
        </ng-template>
      </div>
      <div class="grid popup-content-row" *ngIf="popupNode.children !== null && popupNode.children.length > 0">
        <div class="grid-12 left popup-field-lbl popup-field">Children</div>
        <div *ngFor="let childNode of popupNode.children; index as i" class="grid-12 left popup-field">
          &nbsp;&nbsp;&nbsp;{{ i+1 }}.&nbsp;&nbsp;{{ childNode.firstName }}&nbsp;{{ childNode.lastName }}
        </div>
      </div>
      <!-- Section to add a spouse details -->
      <div class="spouse-details">
        <!-- <div class="content">
          
        </div> -->
        <div class="grid content-bg">
          <div class="grid-5">
            <input type="text" placeholder="First Name" [(ngModel)]="spouseFirstName">
          </div>
          <div class="grid-2"></div>
          <div class="grid-5">
            <input type="text" placeholder="Last Name" [(ngModel)]="spouseLastName">
          </div>
        </div>
        <div class="grid  content-bg">
          <div class="grid-5">
            <input type="date" [(ngModel)]="spouseDateOfBirth">
          </div>
          <div class="grid-2"></div>
          <div class="grid-5">
            <input type="date" [(ngModel)]="spouseDateOfDeath">
          </div>
        </div>
        <div class="grid  content-bg">
          <div class="grid-5 popup-field">
            <input type="radio" value="MALE" [(ngModel)]="spouseGender">MALE
          </div>
          <div class="grid-2"></div>
          <div class="grid-5 popup-field">
            <input type="radio" value="FEMALE" [(ngModel)]="spouseGender">FEMALE
          </div>
        </div>
      </div>
      <!--       End of spouse deails      -->
      <div *ngIf="popupEditMode; else editButton">
        <div class="grid popup-content-row">
          <div *ngIf="isPopupMemberMarried()" class="grid-12 center">
            <button (click)="0" class="btn-grad popup-field-lbl">Add children</button>
          </div>
          <div *ngIf="!isPopupMemberMarried()" class="grid-12 center">
            <button (click)="0" class="btn-grad popup-field-lbl">Add spouse</button>
          </div>
        </div>
        <div class="grid popup-content-row">
          <div class="grid-6 center">
            <button (click)="cancelEditMode()" class="btn-grad popup-field-lbl">Cancel</button>
          </div>
          <div class="grid-6 center">
            <button (click)="updateFamilYMemberInfo()" class="btn-grad popup-field-lbl">Save</button>
          </div>
        </div>
      </div>
      <ng-template #editButton>
        <div class="grid popup-content-row">
          <div class="grid-12 center">
            <button (click)="switchToEditMode()" id="edit-btn" class="btn-grad popup-field-lbl">Edit</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>