.template-1-style {
    // width: 595px;
    // height: 842px;

    width: 795px;
    height: 1042px;

    margin-left: auto;
    margin-right: auto;
    box-shadow: grey 5px 5px 10px;

    .left-panel {
        background-color: #253847;
        // height: 100vh;
    }
    
    .right-window {
        background-color: #FFF;
    }
    
    label {
        word-wrap: break-word;
    }
    
    .section-right {
        margin: 2.5%;
    
        h3 {
            font-weight: 500;
            border-bottom: 1px solid #192630;
            color: #192630;
            padding: 4px 0;
        }
    
        .section-right-content {
            margin: 8px 0;
            text-align: justify;
        }
    }
    
    .exp-title {
        font-size: 10px;
        font-weight: 700;
    }
    
    .experience, .project {
        margin: 8px 0;
    }
    
    .menu-exp-light {
        display: none;
        margin: 8px;
    }
    
    .print-btn {
        margin: 16px;
        padding: 8px 16px;
        background-color: #2053FC;
        border-style: none;
        border-radius: 3px;
        color: #fff;
    }
    
    .print-btn:hover {
        background-color: #1845E9;
        cursor: pointer;
    }
}

.gen-style {
    margin-top: 28px;
    margin-bottom: 28px;
}

h3 {
    font-size: 12px !important;
}

.f-24 {
    font-size: 8px !important;
}

.f-24-dark {
    font-size: 8px !important;
}
