/*********** Responsive styles for portrait mode phone ***********/
@media screen and (min-width: 320px) and (max-width: 481px) {

    p,li { font-size: 10pt; }

    .header {
        display: block;
        width: 100%;
        height: 2.5rem;
        background-color: rgba($color: #253847, $alpha: 1.0);
    }

    .name {
        width: 100%;
        font-size: 1.75rem;
        font-weight: 600;
        letter-spacing: 0.0em;
        color: #fff;
    }

    .left-panel {
        display: none;
        background-color: #253847;
        // height: 100vh;
        // height: 100%;
        grid-column: span 12 !important;
        width: 100%;
        animation-duration: 2s;
        animation-name: slide-down;
        animation-timing-function: linear;// ease-out
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .right-window {
        grid-column: span 12 !important;
        width: fit-content;
    }

    .menu-exp-light {
        display: inline-block;
    }
}

/*********** Responsive styles for landscape mode phone ***********/
@media screen and (min-width: 481px) and (max-width: 641px) {
    
    .left-panel {
        display: none;
        background-color: #253847;
        // height: 100%;
    }

    .right-window {
        grid-column: span 12 !important;
        width: fit-content;
    }

    .menu-exp-light {
        display: inline-block;
    }
}
