<!-- <div *ngIf="brief" class="header grid" (click)="displayBrief()">
    <h2 class="name center">Nilesh Suryanarayan</h2>
</div> -->
<div [class]="normalClass"><!-- *#printPreview ngIf="!isPreview; else showPrintPreview" -->
    <div #printPreview [class]="editOrPrintClass">
        <div id="left-panel" class="grid-4 left-panel">
            <profile-picture-component [preview]="isPreview"></profile-picture-component>
            <contact-component [preview]="isPreview"></contact-component>
            <skills-component></skills-component>
            <language-component></language-component>
            <hobbies-component></hobbies-component>
        </div>
        <div id="right-window" class="grid-8 right-window">
            <title-component></title-component>
            <summary-component></summary-component>
            <experience-component></experience-component>
            <education-component></education-component>
            <projects-component></projects-component>
        </div>
    </div>
</div>
<!-- <ng-template #showPrintPreview>
    <div #printPreview class="grid template-1-style">
        <div id="left-panel" class="grid-4 left-panel">
            <profile-picture-component [preview]="isPreview"></profile-picture-component>
            <contact-component [preview]="isPreview"></contact-component>
            <skills-component></skills-component>
            <language-component></language-component>
            <hobbies-component></hobbies-component>
        </div>
        <div id="right-window" class="grid-8 right-window">
            <title-component></title-component>
            <summary-component></summary-component>
            <experience-component></experience-component>
            <education-component></education-component>
            <projects-component></projects-component>
        </div>
    </div>
</ng-template> -->
<div>
    <span *ngIf="isPreview; else showPrintBtn">
        <button class="print-btn" (click)="printPdf()">Print PDF</button>
    </span>
    <ng-template #showPrintBtn>
        <button class="print-btn" (click)="showPrintPreview()">Print preview</button>
    </ng-template>
</div>
